<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="74.0.3729.6" targetFramework="net452" />
</packages>