<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright 2016 Automate The Planet Ltd.
Licensed under the Apache License, Version 2.0 (the "License");
You may not use this file except in compliance with the License.
You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<configuration>
  <configSections>
    <section name="WebAii.Settings" type="ArtOfTest.WebAii.Core.SettingsConfigSectionHandler,ArtOfTest.WebAii"/>
    <section name="WebAii.Settings.Web" type="ArtOfTest.WebAii.Core.WebSettingsConfigSectionHandler,ArtOfTest.WebAii"/>
    <section type="ArtOfTest.WebAii.Core.WpfSettingsConfigSectionHandler,ArtOfTest.WebAii" name="WebAii.Settings.Wpf"/>
  </configSections>
  <WebAii.Settings
                logLocation="F:\Log\"
                executionTimeout="30000"
                clientReadyTimeout="20000"
                queryEventLogErrorsOnExit="false"
                executionDelay="0"
                annotateExecution="true"
                annotationMode="All"
                logAnnotations="false"
                waitCheckInterval="633"
                createLogFile="true"
                Manager.Settings.Web.UseHttpProxy="true">
  </WebAii.Settings>
  <WebAii.Settings.Web baseUrl="http://automatetheplanet.com">
  </WebAii.Settings.Web>
</configuration>