<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.11.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net45" />
  <package id="SpecFlow" version="2.3.1" targetFramework="net45" />
  <package id="SpecFlow.MsTest" version="2.3.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
  <package id="Unity" version="5.7.3" targetFramework="net45" />
</packages>