<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StreamExtended" publicKeyToken="bbfa0f1d54f50043" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.201.0" newVersion="1.0.201.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BrotliSharpLib" publicKeyToken="3f4e2a1cd615fcb7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>