<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="StreamExtended" version="1.0.179" targetFramework="net461" />
  <package id="Titanium.Web.Proxy" version="3.0.503" targetFramework="net461" />
</packages>