<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TimeoutSettings" type="HybridTestFramework.UITests.Core.Configuration.TimeoutSettings, HybridTestFramework.UITests.Core"/>
    <section name="TimeoutSettingsAsAttributes" type="HybridTestFramework.UITests.Core.Configuration.TimeoutSettingsAsAttributes, HybridTestFramework.UITests.Core"/>
  </configSections>

  <TimeoutSettings>
    <waitForAjaxTimeout value="30000"/>
    <sleepInterval value="1000"/>
    <elementToBeVisibleTimeout value="30000"/>
    <elementToExistTimeout value="60000"/>
    <elementToNotExistTimeout value="10000"/>
    <elementToBeClickableTimeout value="30000"/>
    <elementNotToBeVisibleTimeout value="10000"/>
    <elementToHaveContentTimeout value="30000"/>
  </TimeoutSettings>

  <!--without generic elements-->
  <TimeoutSettingsAsAttributes waitForAjaxTimeout="30000" sleepInterval="1000" elementToBeVisibleTimeout="30000" elementToExistTimeout="60000" elementToNotExistTimeout="10000" elementToBeClickableTimeout="30000" elementNotToBeVisibleTimeout="10000" elementToHaveContentTimeout="30000"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
