<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.0-preview-20201126-03" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.0-preview-20201126-03" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net461" />
  <package id="Selenium.Support" version="4.0.0-alpha07" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha07" targetFramework="net461" />
</packages>